.forgotBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.forgotBlock > div {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgotBlock div input {
  width: 100%;
  font-size: 24px;
  padding: 4px;
  border-radius: 8px;
}

.forgotBlock button {
  font-size: 24px;
  margin-top: 1rem;
  font-weight: 600;
  width: 80%;
  align-self: center;
}

p.responseMessage {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.backToLogin {
  margin-top: 1rem;
  font-size: 20px;
  color: var(--linkText);
  text-decoration: underline;
}
