.resetBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
}

.resetBlock form.newPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background);
  padding: 1rem;
  border-radius: 12px;
}

.resetBlock form.newPasswordForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resetBlock form.newPasswordForm div label {
  font-size: 12px;
  margin-left: 4px;
  font-weight: 800;
}
.resetBlock form.newPasswordForm div input {
  width: 100%;
  font-size: 24px;
  padding: 4px;
  border-radius: 8px;
}
.resetBlock form.newPasswordForm button[type="submit"] {
  font-size: 24px;
  margin-top: 1rem;
  font-weight: 600;
  width: 100%;
}
