div.reviewTitle {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  text-align: center;
}

div.formSection {
  width: 100%;
  height: auto;
  margin: 3rem auto;
}

form.reviewForm {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

form.reviewForm div {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 14px;
  padding-left: 5px;
}

input[type="text"],
input[type="email"],
select {
  font-size: 20px;
  height: 44px;
  padding: 8px 6px;
  border-radius: 8px;
  border: none;
  box-shadow: inset -1px 1px 3px #000;
  color: var(--backgroundDark);
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  background-color: rgb(253, 245, 245);
  color: var(--backgroundDark);
}

textarea {
  resize: none;
  height: 10rem;
  padding: 5px;
  font-size: 14px;
}

button[type="submit"] {
  background-color: var(--bannerBackground);
  color: var(--textPrimary);
  align-self: center;
  margin-top: 2rem;
  font-size: 24px;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 3px #000;
}
button[type="submit"]:active {
  box-shadow: inset 1px -1px 1px #000;
  color: var(--linkText);
}

.thankYouBlock {
  margin-top: 3rem;
  text-align: center;
}

.thankYouBlock h1 {
  margin-bottom: 2rem;
}

.thankYouBlock div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  width: 100%;
}

.thankYouBlock p {
  font-size: 20px;
}

.thankYouBlock p a {
  color: var(--linkText);
  font-weight: 600;
  text-decoration: underline;
}

.linkIcon {
  color: var(--buttonSecondary);
  font-size: 30px;
}
