form.loginForm {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form.loginForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form.loginForm div input {
  font-size: 18px;
  padding: 8px 4px;
  border-radius: 8px;
  border: 1px solid #000;
}

form.loginForm button {
  align-self: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 8px 12px;
  border-radius: 8px;
}
