.shiftForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 1px solid var(--textPrimary);
  border-radius: 8px;
  padding: 1rem;
}

.shiftForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shiftForm div label {
  font-size: 12px;
}

.shiftForm div input {
  font-size: 18px;
  padding: 4px;
  border-radius: 8px;
}

.shiftForm button[type="submit"] {
  align-self: center;
  margin-top: 1rem;
}
