.registerForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.registerForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.registerForm div label {
  font-size: 12px;
  font-weight: 800;
  margin-left: 4px;
}

.registerForm div input {
  font-size: 24px;
  padding: 4px;
  border-radius: 8px;
}

.registerForm div select {
  font-size: 24px;
  padding: 4px;
  border-radius: 8px;
}
