.portalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portalContainer svg.goBack {
  font-size: 1.5rem;
  align-self: flex-start;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.portalHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.portalNavi {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 2rem;
  border: 2px solid var(--background);
  box-shadow: inset 1px 1px 3px #000, inset -1px -1px 2px #111;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
}
.portalNavi svg {
  font-size: 1.8rem;
  color: var(--bannerBackground);
  position: relative;
}
.portalNavi svg:hover {
  color: var(--linkText);
}

.portalNavi svg.activeSVG {
  color: var(--textSecondary);
}

.portalControls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-block: 1rem;
}

.portalControls button {
  background-color: transparent;
  box-shadow: unset;
}
.portalControls button:disabled {
  color: var(--background);
}

.postList {
  margin-block: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.postList p.categoryDisplay {
  font-size: 1.2rem;
  align-self: flex-end;
  margin-right: 1rem;
  border-bottom: 1px solid var(--textPrimary);
  padding: 2px 8px;
}

.postList .postItem {
  border: 1px solid var(--linkText);
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.postList .postItem div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.postList .postItem div p:first-child {
  font-size: 24px;
  color: var(--textSecondary);
}
.postList .postItem div p:last-child {
  font-style: italic;
  margin-top: auto;
}

.postItemImage {
  width: 100px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--textPrimary);
  object-fit: contain;
}

.postItem .postTitle {
  cursor: pointer;
}
