.homeContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 3rem;
  width: 80%;
  position: relative;
}

.homeButtonBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* flex: 1; */
  position: sticky;
  top: 40px;
  width: fit-content;
  margin-bottom: 2rem;
}

.homeButtonBlock button {
  font-size: 2rem;
  padding: 8px 20px;
  width: 300px;
  border: none;
  border-radius: 10px;
  background-color: var(--linkText);
  color: var(--buttonPrimary);
  box-shadow: -1px 2px 6px #000;
  transition: all 0.2s ease;
}

.homeButtonBlock button:hover {
  color: var(--textPrimary);
  background-color: var(--bannerBackground);
  box-shadow: -1px 2px 6px #444;
}

.homeButtonBlock button:active {
  background-color: var(--buttonSecondary);
  color: var(--bannerBackground);
  box-shadow: inset 0 1px -2px #000;
  transform: translate(-1px, 2px);
}

.homeButtonBlock button.activeButton {
  background-color: var(--bannerBackground);
  color: var(--inputBackground);
}

.mobilePicker {
  display: none;
}

@media screen and (max-width: 1050px) {
  .mobilePicker {
    display: block;
    align-self: center;
  }
  .mobilePicker select {
    font-size: 18px;
    color: var(--backgroundDark);
    border: none;
    border-radius: 4px;
  }
  .homeContainer {
    flex-direction: column;
  }

  .homeButtonBlock {
    display: none;
  }

  table {
    align-self: flex-start;
  }

  table thead tr th:nth-child(2) {
    display: none;
  }

  table tr td:nth-child(2) {
    display: none;
  }
}
