.postPageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.createPostButton {
  margin-left: auto;
  margin-right: 10px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.postPageContainer h1 {
  text-align: center;
}

.postImageContainer {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.postImageContainer a {
  color: var(--linkText);
  margin-top: 10px;
}

.postImageContainer img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.postContentP {
  border: 1px solid #fff;
  min-width: 90%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--background);
  color: var(--textSecondary);
  text-align: center;
  text-wrap: balance;
}
p.postContentP:empty {
  display: none;
}

.postPageFooter {
  margin-top: auto;
  text-align: start;
  width: 100%;
  margin-left: 3rem;
}

.postControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 1.5rem;
  width: 100%;
}
.postControls button {
  font-weight: 600;
}
.postControls button:last-child {
  background-color: red;
}

/*
COMMENT BOX 
*/

.commentBox {
  margin-block: 2rem;
  border-top: 1px solid #fff;
  width: 90%;
  padding-top: 1rem;
}

.commentBox div:first-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-inline: 10px;
  margin-bottom: 5px;
}

.commentBox h4 {
  text-decoration: underline;
}

.commentBox div:first-child button.addPostButton {
  padding: 4px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--textPrimary);
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: unset;
}

.commentBox ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background);
  padding: 15px 5px 20px 5px;
  border-radius: 8px;
  border: 1px solid var(--textPrimary);
  max-height: 800px;
  overflow: auto;
}

form.commentForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form.commentForm textarea {
  height: 8rem;
  font-size: 18px;
  background-color: var(--inputBackground);
  color: var(--backgroundDark);
  padding: 5px;
}
form.commentForm button[type="submit"] {
  background-color: var(--linkText);
}

.commentBox ul li {
  background-color: var(--backgroundDark);
  border: 1px solid var(--textPrimary);
  padding: 12px 8px;
  font-size: 14px;
  border-radius: 8px;
}

li.commentLine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
div.commentBody {
  display: flex;
  width: 100%;
  align-items: flex-start;
  background-color: var(--textSecondary);
  color: var(--textPrimary);
  min-height: 80px;
  padding-block: 5px;
  border-radius: 6px;
}
div.commentBody button.deletePost {
  color: red;
  background-color: transparent;
  font-size: 1.4rem;
  position: absolute;
  top: -10px;
  left: -18px;
  box-shadow: unset;
}
li.commentLine div.commentFooter p:first-child {
  font-weight: 800;
  font-size: 1.1rem;
  color: var(--linkText);
}
li.commentLine div.commentFooter p:last-child {
  font-size: 0.8rem;
  color: var(--textSecondary);
}
