.newUserForm {
  border: 1px solid var(--textPrimary);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.newUserForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.newUserForm div label {
  font-size: 14px;
}

.newUserForm div input {
  font-size: 24px;
  padding: 4px;
  border-radius: 8px;
}

.newUserForm div select {
  font-size: 24px;
  padding: 4px;
  width: 100%;
  border-radius: 8px;
}

.newUserForm button[type="submit"] {
  margin-top: 1rem;
  font-size: 24px;
}
