.requestResetContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requestResetContainer form.requestResetForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

form.requestResetForm div {
  display: flex;
  flex-direction: column;
}

form.requestResetForm input {
  font-size: 24px;
  border-radius: 8px;
  border: none;
  padding: 6px 4px;
}
