.postContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContainer svg.postReturnTo {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-right: 1rem;
  color: var(--linkText);
}

.postContent {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.postImage {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #777, 1px -1px 3px #888;
}
