.postContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postContainer svg.postReturnTo {
  font-size: 1.5rem;
  align-self: flex-start;
  color: var(--linkText);
}

.postContent {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postImage {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #777, 1px -1px 3px #888;
}

.postContent > div {
  display: flex;
  flex-direction: column;
}
.postContent small {
  color: var(--linkText);
}
.postContent small.author {
  font-weight: 800;
  font-size: 18px;
}

.commentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.commentSection h3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.commentSection h3 svg {
  color: var(--textSecondary);
  font-size: 1.5rem;
}

.comments {
  border: 1px solid var(--textPrimary);
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background);
}

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--textPrimary);
  padding-bottom: 10px;
}
.commentForm textarea {
  resize: none;
  height: 6rem;
}
.commentForm button {
  background-color: var(--buttonSecondary);
}

.comment {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--textSecondary);
  border-radius: 8px;
  padding: 8px;
  box-shadow: -1px 1px 2px #888;
  background-color: var(--backgroundDark);
}

.comment > p:first-child {
  background-color: var(--background);
  min-height: 4rem;
  padding: 4px;
  box-shadow: inset 1px -1px 3px #222, inset -1px 1px 3px #222;
}
