.thisWeeksSchedule {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

.noSchedulesYet {
  text-align: center;
  font-style: italic;
}

.scheduleDisplayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  width: 80%;
  margin-bottom: 4rem;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

.scheduleImage {
  width: 100%;
  height: auto;
}

.expandButton {
  height: 30px;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000096;
}
