.resetPasswordContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.resetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form.resetForm div {
  display: flex;
  flex-direction: column;
}

form.resetForm input {
  font-size: 24px;
  border-radius: 8px;
  border: none;
  padding: 6px 4px;
}
