.userHomeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.userHomeHeader {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding-inline: 0.5rem;
}

.userHomeHeader h1 {
  font-size: 1.2rem;
}
.userNavi {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 15px;
}
.userNavi svg {
  font-size: 1.4rem;
  color: var(--buttonSecondary);
  position: relative;
}
.userNavi svg:hover {
  color: var(--linkText);
}

.currentWeekSchedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  border: 1px solid var(--textPrimary);
  border-radius: 12px;
  box-shadow: -1px 1px 3px var(--linkText);
  padding: 2px;
}

.dayOfWeek {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  background-color: var(--background);
}

.dayOfWeek h3 {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  padding: 0.3rem 0.5rem;
}
.dayOfWeek:first-child h3 {
  border-radius: 8px 8px 0 0;
}
.dayOfWeek h3 small {
  color: var(--backgroundDark);
}

.dayOfWeek > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dayOfWeek > div > p {
  padding: 2rem 1rem;
  font-size: 1.5rem;
}
