.userHomeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.userHomeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding-inline: 0.5rem;
}

.userHomeHeader h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--backgroundDark);
  text-shadow: -1px 1px 10px var(--buttonSecondary);
}
.userNavi {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  /* gap: 15px; */
  border: 2px solid var(--background);
  box-shadow: inset 1px 1px 3px #000, inset -1px -1px 2px #111;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  width: 100%;
}
.userNavi svg {
  font-size: 1.8rem;
  color: var(--buttonSecondary);
  position: relative;
}
.userNavi svg:hover {
  color: var(--linkText);
}

.userHomeHeader .switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userHomeHeader .switcher button {
  background-color: var(--buttonSecondary);
  box-shadow: unset;
  border-radius: 0;
  border: 1px solid var(--linkText);
  font-size: 1rem;
  padding: 8px 2rem;
}
.userHomeHeader .switcher button:first-child {
  border-radius: 8px 0 0 8px;
}
.userHomeHeader .switcher button:last-child {
  border-radius: 0 8px 8px 0;
}

.currentWeekSchedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  border: 1px solid var(--textPrimary);
  border-radius: 12px;
  box-shadow: -1px 1px 3px var(--linkText);
  padding: 2px;
}

.currentWeekSchedule .dateHeader {
  font-size: 18px;
  background-color: var(--backgroundDark);
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 4px 10px;
  align-self: center;
  text-align: end;
}

.dayOfWeek {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  background-color: var(--background);
}

.dayOfWeek h3 {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  padding: 0.3rem 0.5rem;
}
.dayOfWeek:first-child h3 {
  border-radius: 8px 8px 0 0;
}
.dayOfWeek h3 small {
  color: var(--backgroundDark);
}

.dayOfWeek > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dayOfWeek > div > p {
  padding: 2rem 1rem;
  font-size: 1.5rem;
}
