.teamScheduleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p.teamWeekHeader {
  font-size: 18px;
  align-self: center;
}

.teamWeekNavi {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.teamWeekNavi button {
  background-color: transparent;
  box-shadow: unset;
}
