.teamScheduleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.teamScheduleContainer .goBack {
  margin-block: 0.5rem;
  font-size: 1.5rem;
  align-self: flex-start;
}

p.teamWeekHeader {
  font-size: 18px;
  align-self: center;
}

.teamWeekNavi {
  align-self: center;
  display: flex;
  gap: 2rem;
}

.teamWeekNavi button {
  background-color: transparent;
  box-shadow: unset;
  font-size: 1.5rem;
}

.scheduleList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
}

.userWeek {
  border: 1px solid var(--textPrimary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.userDay {
  border: 1px solid var(--textSecondary);
  font-size: 12px;
  padding: 4px 10px;
}

.userDay .dayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.userDay .dayHeader p:first-child {
  font-weight: 800;
  text-decoration: underline;
  color: var(--linkText);
}

.userDay .dayHeader svg {
  color: var(--textSecondary);
  font-size: 1.1rem;
}

.userDay .dayNote {
  font-size: 10px;
  font-style: italic;
  color: var(--textSecondary);
  margin-top: 4px;
  cursor: alias;
}

.noteInput {
  display: flex;
  gap: 10px;
  margin-block: 10px;
}
.noteInput input {
  border-radius: 8px;
  padding: 4px;
  flex-grow: 0.5;
}

.noteInput button {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--buttonBackground);
  color: var(--buttonText);
  box-shadow: var(--buttonBoxShadow);
  font-weight: 600;
}
